/* Root style parameters */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --widget-size: 15vh;
    --widget-aspect: 4;
    --wi: calc(15vh / 4);
  
    --br: 8px;
    --sp: 2px;

    --side-width: 15vw;
    --side-offset: 0px;
    
    
    --ic1: #cac9c4;
    --ic2: white;
    --ic3: #db4a4a;
    --ic4: #ff4646;
    --color-danger: #8f53c9;
    --wc: #252222;
    --wc2: #252222ab;
    
    --tbc: #3a3737;
    
    --bro: calc(var(--br) + var(--sp));
    --fd1: column;
    font-size: calc(var(--widget-size) / 6);
    font-family: 'Poppins', sans-serif;
   
}



body {
    cursor: var(--cursor);
    overflow: hidden;
}


session-frame {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    --side-window-size: 35vh;
    --side-window-percent: 0;
    --tool-bar-height: 8vh;

}

session-view {
    --split-widget-side: 20vh;
    --split-widget-top: 15vh;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    right: calc(var(--side-window-size) * var(--side-window-percent));
    bottom: 0px;
}

session-view .rel {
    justify-content: center;
    align-items: center;
}

/* Video Call Widget Style  */
video-call-widget {
    --h: var(--widget-size);
    --wi: calc(var(--widget-size) / var(--widget-aspect));
    
    position: absolute;
    top: 10px;
    left: 50%;
    display: flex;
    transform: translate(-100%, 0);
    background: var(--wc);
    border-radius: var(--bro);
    padding: var(--sp);

}

video-call-widget[landscape] {
    --wi: var(--widget-size);
    --h: calc(var(--widget-size) / var(--widget-aspect));
    --fd1: row;
    width: var(--wi);
}


.rel {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;

}

video-call-widget .rel {
    overflow: hidden;
}

video-call-widget .main-content {
    position: relative;
    height: 100%;
    display: flex;
    gap: var(--sp);

}

/*  */

side-window {
    padding: 0.5em;
    background: var(--tbc);
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(var(--side-window-size) - 1em);
    transform: translateX(calc(100% * ( 1 - var(--side-window-percent))));
}

side-window > * {
    display: flex;
    flex-direction: column;
}

side-window .title {
    border-bottom: var(--sp) solid var(--tbc);
    padding: 0.3em;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    color: white;
}
side-window .title > div {
    text-transform: capitalize;
}

/* one item */
side-window > *:first-child:nth-last-child(1) {
    height: 100%;
}
    
/* two items */
side-window > *:first-child:nth-last-child(2),
side-window > *:first-child:nth-last-child(2) ~ * {
    height: 50%;
}

session-frame[user-type = "participant"] .icon[type = "close-app"]{
    display: none;
}
apps-panel {
    --app-width: calc(var(--side-window-size) / 3);
}
apps-panel .main-items {
    padding: 1em;
}

apps-panel:not([app]) .title .icon:first-of-type {
    display: none;
}
apps-panel .icons-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.app-entry {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.app-name {
    text-transform: capitalize;
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
}

.app-details {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.app-description { 
    width: 100%;
}

.icon-wrapper {
    aspect-ratio: 1;
    border: 3px solid var(--wc);
    border-radius: 0.5em;
    width: 40%;
    display: flex;
    overflow: hidden;
    cursor: pointer;
}


/*  
 
Messages 
 
*/

message-panel .main-items{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 0.3em;
}

message-panel .message-feed {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    height: 100%;
}

message-panel .message-input {
    display: flex;
    gap: 0.3em;
    font-size: 1.1em;
}
message-panel .message-input .icon{
    --ic1: #5f9fed;
    --ic2: #3263a0;
}
message-panel textarea {
    width: 100%;
    outline: none;
    border: none;
    line-height: 1.6em;
    border-radius: 0.8em;
    padding: 0 0.6em;
    background-color: #ecf0f5;
    font: inherit;
}

.i-message[sender=true]{
    align-items: end;
    --bg: #8f53c9;
}
.i-message[sender=true] .i-text-bubble{
    color: white;
}

.i-message {
    --s-middle: 1em 0em 0em 1em;
    --s-end: 1em 0em 1em 1em;
    --s-start: 1em 1em 0em 1em;
    --middle: 0em 1em 1em 0em;
    --end:  0em 1em 1em 1em;
    --start: 1em 1em 1em 0em;
    --isolated: 0.9em;
    --bg:  #e8e8e8;
    --r: var(--isolated);
    display: flex;
    align-items: baseline;
    flex-direction: column;
}

.i-message[sender=true][type="start"]{--r: var(--s-start);}
.i-message[sender=true][type="end"]{--r: var(--s-end);}
.i-message[sender=true][type="middle"]{--r: var(--s-middle);}
.i-message[type="start"]{--r: var(--start);}
.i-message[type="end"]{--r: var(--end);}
.i-message[type="middle"]{--r: var(--middle);}

.i-message .i-text-bubble {
    background-color: var(--bg);
    padding: 0.3em 0.6em;
    line-height: 1.5em;
    border-radius: var(--r);
    max-width: 80%;
    white-space: break-spaces;
}

.i-message[type="start"] .i-message-date,
.i-message[type="middle"] .i-message-date
 {
    display: none;
}
.i-message-date {
    font-size: 0.9em;
    padding: 0 0.5em;
    color: #5f5a63;
}

popup-info {
    border-radius: 0.5em;
    color: #d5d5d5;
    background: #0009;
    padding: 1em;
    text-align: center;
}


settings-panel {
    color: black;
}

.main-items {
    background: white;
    border-radius: 0.3em;
    padding: 0 1em;
    overflow-y: scroll;
    height: 100%;
}

settings-panel > .main-items * {
    padding: 0.3em 0;
    /* padding-left: 1em; */
}


settings-panel .device *:first-child {
    font-weight: bold;
    font-size: 1.15em;
}


settings-panel .track-icon {
    display: flex;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
}
settings-panel .track-icon[selected] {
    font-weight: bold;
}
settings-panel .track-icon:not([selected]) .icon {
    opacity: 0;
    width: 0;
}

settings-panel .track-icon * {
    padding: 0;
    fill: var(--color-danger);
}




settings-panel .views .icon:hover .i-fill {
    fill: var(--wc);
}

settings-panel .views {
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.4em;
}
settings-panel .views * {
    padding: 0;
}
settings-panel .views .i-fill {
    fill: gray;
}

session-frame:not([user-type=host]) .participant-view {
    display: none;
}

session-frame:not([view]) .my-view .views .icon:not([view]) .i-fill,
session-frame[view=side] .my-view .views .icon[view=side] .i-fill,
session-frame[view=top] .my-view .views .icon[view=top] .i-fill{
    fill: var(--wc);
}

session-frame:not([p-view]) .participant-view .views .icon:not([view]) .i-fill,
session-frame[p-view=side] .participant-view .views .icon[view=side] .i-fill,
session-frame[p-view=top] .participant-view .views .icon[view=top] .i-fill{
    fill: var(--wc);
}

/* ~~~~ Side Bar Style ~~~~ */
.side-bar {
    color: white;
    display: flex;
    width: 0;
    flex-direction: var(--fd1);
    align-items: center;
    margin: 0;
    overflow: hidden;
    border-radius: var(--br);
}

video-call-widget > .rel {
    display: inherit;
}
video-call-widget[show-icons] .side-bar,
video-call-widget[small] .side-bar {
    width: var(--wi);
}

video-call-widget:not([small])[show-icons] .side-bar {
    margin-right: 0;
    margin-left: var(--sp);
}

video-call-widget:not([notrans]) .side-bar {
    transition: 0.3s ease-in width;
}

[dragging] .side-bar {
    pointer-events: none;
}

/* Side Bar Minimise Icon Style */
.side-bar .minimise {
    width: 100%;
    cursor: pointer;
    
}
[landscape] .side-bar .minimise {
    height: 100%;
    width: auto;
}

.side-bar .minimise > div {
    height: var(--sp);
    background: var(--ic1);
    border-radius: 10px;
    width: calc(100% - var(--br));
    margin: calc(var(--br)) calc(var(--sp)*2);
}
[landscape] .side-bar .minimise > div {
    margin: calc(var(--sp)*2) calc(var(--br));
    height: calc(100% - var(--br));
    width: var(--sp);
}

.side-bar .minimise:hover > div {
    background: var(--ic2);
}

/* Side Bar Tools style */
.side-bar .tools {
    background: var(--tbc);
    border-radius: var(--br);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: var(--fd1);
    align-items: center;
}
  
.side-bar .tools > * {
    height: var(--wi);
    width: var(--wi);
}

[landscape] .side-bar .tools > * {
    height: var(--h);
    width: var(--h);
}


[type="participant"] copy-icon{
    display: none;
}

/* Copy Icon Style */
copy-icon {
    width: 100%;
    justify-content: space-evenly;
    cursor: pointer;
    color: white;
}

copy-icon>svg {
    padding: 0.3em;
    background: var(--tbc);
}

copy-icon>div {
    display: flex;
    align-items: center;
}

.copy-text {
    font-family: monospace;
    height: calc(var(--wi)*0.6);
    padding: calc(var(--wi)*0.2);
    background: var(--tbc);
    border-radius: var(--br) 0 0 var(--br);
}

.copy-text[dark] {
    background: var(--wc);
}

.copy-text[left] {
    border-radius: 0 var(--br) var(--br) 0;
}

/* file load icon */
file-load-icon {
    /* position: absolute;
    top: 0;
    right: 0;
    width: 2em; */
    display: block;
    /* padding: var(--sp); */
}
file-load-icon .i-fill {
    fill: #d4abfc;
    --ic2: #ebd7ff;
}

* > svg > mask .i-fill.mask-bg {fill:white;}

* > svg > mask .i-fill.mask-rm {fill:black;}

/* Video Display */
video-display {
    display: flex;
    --ics: calc(var(--wi));
    --aspect: 1.33333;
}
video-call-widget video-display{
    height: var(--h);
    width: calc(var(--h) * var(--aspect));
}

video-display video {
    width: 100%;
    border-radius: var(--br);
}



*[type = "participant"] video-display[type = "remote"] svg {
    opacity: 0.5;
}
*[show-icons] .icon-slot {
    opacity: 1;
    pointer-events: all;
}

/* Video Display Icon Slot Style */

video-display .icon-slot {
    background: #252222cc;
    border-radius: calc(var(--br) - var(--sp));
    margin: var(--sp);
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in opacity;
    cursor: pointer;
}

video-display .icon-slot.name {
    font-size: 0.6em;
    color: white;
    padding: 0 0.25em;
}

video-display .icon-slot svg {
    height: calc(1em * var(--ws));
    padding: calc(var(--br) - 2 * var(--sp));
}


/* Video call screen */
video-call-screen {
    display: flex;
    background: var(--wc);
    padding: var(--br);
    gap: var(--br);
    align-items: center;
    justify-content: center;
}
video-call-screen.default-view {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}
video-call-screen[orientation=landscape] video-display {
    height: 100%;
    width: auto;
}
video-call-screen video-display {
    width: 100%;
    max-height: 100%;

}


/* Tool Bar */
tool-bar {
    display: flex;
    border: var(--sp) solid var(--tbc);
    /* gap: var(--sp); */
    background: var(--wc);
    border-radius: var(--br);
    position: absolute;
    bottom: calc(-1 * var(--hsr) * (var(--tool-bar-height) + 2 * var(--br) + 2 * var(--sp)));
    left: 50%;
    transform: translate(-50%, 0);
    height: var(--tool-bar-height);
    --hsr: 1;
    font-size:1em;
    margin: var(--br);
    z-index: 1200;
  }

  tool-bar .tool-bar-list {
    position: absolute;
    border: var(--sp) solid var(--tbc);
    width: calc(var(--tool-bar-height) - var(--sp));
    background: var(--wc);
    border-radius: var(--br) var(--br) 0 0;

    bottom: calc(var(--tool-bar-height) + -1 * var(--hsr) * (var(--tool-bar-height) + 2 * var(--br) + 2 * var(--sp)));
    border-bottom: none;
    display: none;
    flex-direction: column;
  }

  tool-bar .tool-bar-list[pos=right]::after {
    content: " ";
    position: absolute;
    bottom: 0;
    width: calc(var(--tool-bar-height) - var(--sp));
    height: 10px;
    border-right:  var(--sp) solid var(--tbc);
    transform: translate(0, 100%);
    background: var(--wc);
  }
  tool-bar .tool-bar-list[pos=left]::after {
    content: " ";
    position: absolute;
    bottom: 0;
    width: calc(var(--tool-bar-height) - var(--sp));
    height: 10px;
    border-left:  var(--sp) solid var(--tbc);
    transform: translate(0, 100%);
    background: var(--wc);
  }

  tool-bar .tool-bar-list[shown] {
    display: flex;
  }
  
  tool-bar .tool-bar-list .tbs {
    height: var(--tool-bar-height);
  }
  tool-bar[top] {
    top: calc(-1 * var(--hsr) * (var(--tool-bar-height) + 2 * var(--br) + 2 * var(--sp)));
    bottom: auto;
  }

  tool-bar .tbs {
    width: var(--tool-bar-height);
    /* background: var(--tbc); */
  }

  tool-bar .group {
    border-left: 2px solid var(--tbc);
    display: flex;
  }
  tool-bar .subgroup {
    display: flex;
    position: relative;
  }

  tool-bar [type = "pdf"] {
    font-size: 0.8em;
  }




tool-bar .pdf-count {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: var(--ic2);
}

tool-bar:not([app-shown])[type = "participant"] .icon[type = "apps"],
tool-bar[type = "participant"] .icon[type = "file"],
tool-bar[type = "participant"] .group[type = "pdf"]{
    display: none;
}

tool-bar .icon[type = "audio"]{
    font-size: 0.78em;
}

/* Feedback Window */
feedback-window {
    padding: var(--sp);
    border-radius: var(--bro);
    background: var(--wc);
    display: flex;
    gap: var(--bro);
    flex-direction: column;
    z-index: 10000;
}
feedback-frame {
    border-radius: var(--br);
    overflow: hidden;
    display: block;
}

feedback-window .message {
    color: white;
    text-align: center;
    margin: 0 var(--br);
}

feedback-window .buttons {
    display: flex;
    justify-content: center;
    gap: var(--br);
    margin-bottom: var(--br);
}

feedback-window .btn {
    background: var(--tbc);
    color: white;
    font-size: inherit;
}

/* PDF Viewer */
pdf-viewer {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    --scale: 1;
    --offset-x: 0%;
    --offset-y: 0%;
  }


  pdf-viewer video {
    max-width: 100%;
    max-height: 100%;
    transform: scale(var(--scale)) translate(var(--offset-x), var(--offset-y));
  }

  pdf-viewer canvas {
    max-width: 100%;
    max-height: 100%;
    transform: scale(var(--scale)) translate(var(--offset-x), var(--offset-y));
  }

  pdf-viewer .image {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    pointer-events: none;
    user-select: none;
    transform: scale(var(--scale)) translate(var(--offset-x), var(--offset-y));
  }

  .mouse-icons > div:nth-child(2+n) {
    display: flex;
    justify-content: space-evenly;
  }

  .mouse-icons svg {
    height: 52px;
    width: 52px;
    padding: 0;
    cursor: pointer;
    padding: 5px;
  }

  .mouse-icons svg[selected] {
    background: #7a7878;
    border-radius: 0.5em;
  }



    .split-content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .split-widget {
        display: none;

    }

    [view=side] .split-widget,
    [view=top] .split-widget {
        display: flex;
        position: absolute;
        gap: var(--sp);
        padding: var(--sp);
    }
    [view=side] video-call-widget,
    [view=top] video-call-widget {
        display: none;
    }

    [view=side] .split-widget {
        top: 0;
        bottom: 0;
        right: 0;
        width: calc(var(--split-widget-side) - 2 * var(--sp) - var(--br) + var(--side-offset));
        flex-direction: column;
        padding-left: calc(var(--sp) + var(--br));
    }
    [view=side] .split-content {
        right: calc(var(--split-widget-side) + var(--side-offset));
    }
    [view=side] .split-widget .pull-tab{
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: calc(var(--sp) + var(--br));
        z-index: 1000;
        cursor: ew-resize;
        user-select: none;
    }
    [view=side]  .pull-tab::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: calc((var(--sp) + var(--br)) / 2);
        transform: translate(-50%, -50%);
        background: #fff9;
        border-radius: var(--br);
        height: 3em;
        width: calc(var(--br) - 2.5 * var(--sp))
    }

    [view=top] .split-widget {
        top: 0;
        left: 0;
        right: 0;
        height: calc(var(--split-widget-top) - 2 * var(--sp));
    }
    [view=top] .split-content {
        top: calc(var(--split-widget-top));
    }
    [view=top] .split-widget video-display{
        height: 100%;
        width: auto;
    }
    

    [user-type=participant] .content-view,
    [user-type=participant] .content-view[orientation=portrait] {
        --content-width: var(--parent-width);
        --content-height: var(--parent-height);
    }

    .content-view {
        display: flex;
        background: white;
        --content-height: var(--parent-height);
        --content-width: calc(var(--parent-height) * var(--aspect));
        --widget-size: calc(0.15 * var(--content-height));
        font-size: calc(var(--widget-size) / 6);
        height: var(--content-height);
        width: var(--content-width);
        position: relative;
    }

    
    
    .content-view[orientation=portrait] {
        --content-width: var(--parent-width);
        --content-height: calc(var(--parent-width) / var(--aspect));
    }
    
    
    .overlay {
        position: absolute;
        /* background: #3a3737b4; */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
    .overlay.top {
        height: 100vh;
        width: var(--content-width);
        top: 0;
        left: 0;
        transform: translateY(-100%);
    }
    .overlay.bottom {
        height: 100vh;
        width: var(--content-width);
        bottom: 0;
        left: 0;
        transform: translateY(100%);
    }
    .overlay.left {
        height: var(--content-height);
        width: 100vw;
        top: 0;
        left: 0;
        transform: translateX(-100%);
    }
    
    .overlay.right {
        height: var(--content-height);
        width: 100vw;
        top: 0;
        right: 0;
        transform: translateX(100%);
    }
    

    /*  */

    communication-board {
        --slide: 0;
    }
    .coms-icon {
        position: absolute;
        top: 0;
        width: 1em;
        left: calc(var(--slide) * (100% - 3em - 3px));
        background-color: var(--wc);
        border-right: 3px solid var(--tbc);
        border-bottom: 3px solid var(--tbc);
        color: white;
        border-radius: 0 0 1em 0;
        z-index: 1002;
        padding: 1em;
    }

    .coms-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(var(--slide) * (100% - 4em - 3px));
        background-color: var(--tbc);
        z-index: 1002;
        border-radius: 0 0 1em 0;
        overflow: hidden;
        display: grid;
        gap: 0.5em;
        padding: calc(var(--slide) * 0.5em);
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    communication-icon {
        background: white;
        border-radius: 0.5em;
        display: flex;
        justify-content: center;
        position: relative;
    }

    communication-icon:hover > div,
    communication-icon[hover] > div
     {
        backdrop-filter: brightness(0.85) saturate(1.5);
    }
    communication-icon > div{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 0.5em;
        align-items: center;
        padding: 0.5em;
    }
    communication-icon .image {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-position: center;
        position: relative;
        background-repeat: no-repeat;
    }

    communication-icon svg {
        height: 100%;
    }

    communication-icon img {
        height: 100%;
    }

    communication-icon .load {
        fill: none;
        stroke: #fffa;
        stroke-width: 4;
        stroke-linecap: round;
    }

    .load {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
    }

    calibration-frame {
        z-index: 2000;
    }

    white-board {
        font-size: 0.9em;
        z-index: 1010;
    }


    .closed-captions {
        position: absolute;
        left: 50%;
        bottom: calc( (var(--tool-bar-height) + 2 * var(--br) + 2 * var(--sp)));
        padding: 0.3em;
        border-radius: 0.3em;
        background: var(--wc2);
        color: rgb(255, 209, 148);
        opacity: 0;
        pointer-events: none;
        transform: translate(-50%);
        transition: 0.2s ease-in;
        z-index: 1011;

    }

    .closed-captions[shown] {
        opacity: 1;
        pointer-events: all;
    }

    .closed-captions .other {
        color: white;
    }