/* Root style parameters */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --widget-size: 15vh;
    --widget-aspect: 4;
    
    --h: var(--widget-size);
    --wi: calc(var(--widget-size) / var(--widget-aspect));
    
    --br: 8px;
    --sp: 2px;
    
    
    --ic1: #cac9c4;
    --ic2: white;
    --ic3: #db4a4a;
    --ic4: #ff4646;
    
    --wc: #252222;
    --wc2: #252222ca;
    
    --tbc: #3a3737;
    
    --bro: calc(var(--br) + var(--sp));
    --fd1: column;
    
    font-family: 'Poppins', sans-serif;
    font-size: calc(var(--widget-size) / 6);
}

/* Video Call Widget Style  */
video-call-widget {

    position: fixed;
    top: 10px;
    left: 50%;
    display: flex;
    transform: translate(-100%, 0);
    background: var(--wc);
    border-radius: var(--bro);
    padding: var(--sp);

}

video-call-widget[landscape] {
    --wi: var(--widget-size);
    --h: calc(var(--widget-size) / var(--widget-aspect));
    --fd1: row;
    width: var(--wi);
}

video-call-widget .rel {
    position: relative;
    height: 100%;
    display: flex;
    overflow: hidden;
}

video-call-widget .main-content {
    position: relative;
    height: 100%;
    display: flex;
    gap: var(--sp);

}

/*  */
popup-info {
    border-radius: 0.5em;
    color: #d5d5d5;
    background: #0009;
    padding: 1em;
    text-align: center;
}

settings-panel {
    border-radius: 0 0.5em 0.5em 0;
    color: #d5d5d5;
    background: var(--wc2);
    border: var(--sp) solid var(--tbc);
    backdrop-filter: blur(3px);
    font-size: 0.8em;
}

settings-panel * {
    padding: 0.3em;
    padding-left: 1em;
}

settings-panel > .title {
    border-bottom: var(--sp) solid var(--tbc);
    padding: 0.3em;
    font-size: 1.3em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
settings-panel *:first-child {
    font-weight: bold;
    font-size: 1.15em;
}

settings-panel .track-icon {
    display: flex;
    align-items: center;
    gap: 0.3em;
    cursor: pointer;
}
settings-panel .track-icon[selected] {
    font-weight: bold;
}
settings-panel .track-icon:not([selected]) .icon {
    opacity: 0;
}

settings-panel .track-icon * {
    padding: 0;
}

settings-panel .device {
    max-height: 60vh;
    overflow-y: scroll;
}
settings-panel .device > *:nth-child(n+3) {
    border-top: var(--sp) solid var(--tbc);
}

/* ~~~~ Side Bar Style ~~~~ */
.side-bar {
    color: white;
    display: flex;
    width: 0;
    flex-direction: var(--fd1);
    align-items: center;
    margin: 0;
    overflow: hidden;
    border-radius: var(--br);
}

video-call-widget[show-icons] .side-bar,
video-call-widget[small] .side-bar {
    width: var(--wi);
}

video-call-widget:not([small])[show-icons] .side-bar {
    margin-right: 0;
    margin-left: var(--sp);
}

video-call-widget:not([notrans]) .side-bar {
    transition: 0.3s ease-in width;
}

[dragging] .side-bar {
    pointer-events: none;
}

/* Side Bar Minimise Icon Style */
.side-bar .minimise {
    width: 100%;
    cursor: pointer;
    
}
[landscape] .side-bar .minimise {
    height: 100%;
    width: auto;
}

.side-bar .minimise > div {
    height: var(--sp);
    background: var(--ic1);
    border-radius: 10px;
    width: calc(100% - var(--br));
    margin: calc(var(--br)) calc(var(--sp)*2);
}
[landscape] .side-bar .minimise > div {
    margin: calc(var(--sp)*2) calc(var(--br));
    height: calc(100% - var(--br));
    width: var(--sp);
}

.side-bar .minimise:hover > div {
    background: var(--ic2);
}

/* Side Bar Tools style */
.side-bar .tools {
    background: var(--tbc);
    border-radius: var(--br);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: var(--fd1);
    align-items: center;
}
  
.side-bar .tools > * {
    height: var(--wi);
    width: var(--wi);
}

[landscape] .side-bar .tools > * {
    height: var(--h);
    width: var(--h);
}


[type="participant"] copy-icon{
    display: none;
}

/* Copy Icon Style */
copy-icon {
    width: 100%;
    justify-content: space-evenly;
    cursor: pointer;
    color: white;
}

copy-icon>svg {
    padding: 0.3em;
    background: var(--tbc);
}

copy-icon>div {
    display: flex;
    align-items: center;
}

.copy-text {
    font-family: monospace;
    height: calc(var(--wi)*0.6);
    padding: calc(var(--wi)*0.2);
    background: var(--tbc);
    border-radius: var(--br) 0 0 var(--br);
}

.copy-text[dark] {
    background: var(--wc);
}

.copy-text[left] {
    border-radius: 0 var(--br) var(--br) 0;
}

/* file load icon */
file-load-icon {
    /* position: absolute;
    top: 0;
    right: 0;
    width: 2em; */
    display: block;
    /* padding: var(--sp); */
}

* > svg > mask .i-fill.mask-bf,  {fill:white;}

* > svg > mask .i-fill.mask-rm {fill:black;}

/* Video Display */
video-display {
    display: flex;
    --ics: calc(var(--wi));
    --aspect: 1.33333;
}
video-call-widget video-display{
    height: var(--h);
    width: calc(var(--h) * var(--aspect));
}

video-display video {
    width: 100%;
}

video-call-widget video {
    border-radius: var(--br);
}

*[type = "participant"] video-display[type = "remote"] svg {
    opacity: 0.5;
}
video-call-widget[show-icons] video-display .icon-slot {
    opacity: 1;
}

/* Video Display Icon Slot Style */
video-display .icon-slot {
    background: #252222cc;
    border-radius: calc(var(--br) - var(--sp));
    margin: var(--sp);
    display: flex;
    align-items: center;
    opacity: 0;
    transition: 0.3s ease-in opacity;
    cursor: pointer;
}

video-display .icon-slot svg {
    height: calc(1em * var(--ws));
    padding: calc(var(--br) - 2 * var(--sp));
}


/* Video call screen */

video-call-screen {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--wc);
    padding: var(--br);
    gap: var(--br);
    align-items: center;
    justify-content: center;
}
video-call-screen video-display {
    width: 100%;
    max-height: 100%;

}


/* Tool Bar */
tool-bar {
    --tool-bar-height: 8vh;
    display: flex;
    border: var(--sp) solid var(--tbc);
    /* gap: var(--sp); */
    background: var(--wc);
    border-radius: var(--br);
    position: fixed;
    bottom: calc(-1 * var(--hsr) * (var(--tool-bar-height) + 2 * var(--br) + 2 * var(--sp)));
    left: 50%;
    transform: translate(-50%, 0);
    height: var(--tool-bar-height);
    --hsr: 1;
    font-size:1em;
    margin: var(--br);
  }

  tool-bar[top] {
    top: calc(-1 * var(--hsr) * (var(--tool-bar-height) + 2 * var(--br) + 2 * var(--sp)));
    bottom: auto;
  }

  tool-bar .tbs {
    width: var(--tool-bar-height);
    /* background: var(--tbc); */
  }

  tool-bar .group {
    border-left: 2px solid var(--tbc);
    display: flex;
  }
  tool-bar .subgroup {
    display: flex;
    position: relative;
  }

  tool-bar [type = "pdf"] {
    font-size: 0.8em;
  }

  tool-bar .pdf-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--ic2);
  }

    tool-bar[type = "participant"] .icon[type = "file"],
    tool-bar[type = "participant"] .group[type = "pdf"]{
        display: none;
    }

    tool-bar .icon[type = "audio"]{
        font-size: 0.78em;
    }

/* Feedback Window */
feedback-window {
    padding: var(--sp);
    border-radius: var(--bro);
    background: var(--wc);
    display: flex;
    gap: var(--bro);
    flex-direction: column;
}
feedback-frame {
    border-radius: var(--br);
    overflow: hidden;
    display: block;
}

feedback-window .message {
    color: white;
    text-align: center;
    margin: 0 var(--br);
}

feedback-window .buttons {
    display: flex;
    justify-content: center;
    gap: var(--br);
    margin-bottom: var(--br);
}

feedback-window .btn {
    background: var(--tbc);
    color: white;
    font-size: inherit;
}

/* PDF Viewer */
pdf-viewer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  pdf-viewer > canvas {
    max-width: 100%;
    max-height: 100%;
  }

  pdf-viewer > img {
    max-width: 100%;
    max-height: 100%;
  }